# {{ ansible_managed }}

{% for k, v in openvpn_config[instance].items() %}
{% if v is string %}
{{ k }} {{ v }}
{% elif v is sequence %}
{% for vv in v %}
{{ k }} {{ vv | quote if k == "push" else vv }}
{% endfor %}
{% elif v is not defined %}
{{ k }}
{% else %}
{{ k }} {{ v }}
{% endif %}
{% endfor %}
