# {{ ansible_managed }}

template(
    name="FilePerDay"
    type="list"
) {
    constant(value="/var/log/syslog/")
    property(name="hostname")
    constant(value="/")
    property(name="syslogfacility-text")
    constant(value="/")
    property(name="timereported" dateformat="year")
    property(name="timereported" dateformat="month")
    constant(value="/")
    property(name="timereported" dateformat="year")
    property(name="timereported" dateformat="month")
    property(name="timereported" dateformat="day")
    constant(value="-")
    property(name="syslogfacility-text")
    constant(value=".log")
}

*.* action(
    type="omfile"
    dynafile="FilePerDay"
    template="RSYSLOG_FileFormat"
    fileCreateMode="{{ rsyslog_file_create_mode }}"
    dirCreateMode="{{ rsyslog_dir_create_mode }}"
    createDirs="{{ rsyslog_create_dirs | ternary('on', 'off') }}"
    fileOwner="{{ rsyslog_file_owner }}"
    fileGroup="{{ rsyslog_file_group }}"
    dirOwner="{{ rsyslog_file_owner }}"
    dirGroup="{{ rsyslog_file_group }}"
    umask="{{ rsyslog_umask }}"
)
