[global]

# logfile for status messages
logfile="syslog"

# loglevel: debug(1), info(3), notice(5), error(7) or fatal(8) (default 5)
loglevel={{ firewall_ulogd_loglevel | default(3) }}

plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_inppkt_NFLOG.so"
plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_inpflow_NFCT.so"
plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_filter_IFINDEX.so"
plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_filter_IP2STR.so"
plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_filter_PRINTPKT.so"
plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_filter_PRINTFLOW.so"
plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_output_SYSLOG.so"
plugin="/usr/lib/x86_64-linux-gnu/ulogd/ulogd_raw2packet_BASE.so"

{% if firewall_ulogd_packet_mode_enabled %}
stack=packet:NFLOG,base1:BASE,ifi1:IFINDEX,ip2str1:IP2STR,print1:PRINTPKT,syslog-packet:SYSLOG
{% endif %}
{% if firewall_ulogd_flow_mode_enabled %}
stack=flow:NFCT,ip2str1:IP2STR,print1:PRINTFLOW,syslog-flow:SYSLOG
{% endif %}

{% if firewall_ulogd_packet_mode_enabled %}
[packet]
group={{ firewall_ulogd_nflog_group | default(1) }}
{% endif %}

{% if firewall_ulogd_flow_mode_enabled %}
[flow]
{% endif %}

{% if firewall_ulogd_packet_mode_enabled %}
[syslog-packet]
facility={{ firewall_ulogd_packet_mode_syslog_facility | default("LOG_LOCAL0") }}
level={{ firewall_ulogd_packet_mode_syslog_level | default("LOG_INFO") }}
{% endif %}

{% if firewall_ulogd_flow_mode_enabled %}
[syslog-flow]
facility={{ firewall_ulogd_flow_mode_syslog_facility | default("LOG_LOCAL1") }}
level={{ firewall_ulogd_flow_mode_syslog_level | default("LOG_INFO") }}
{% endif %}
