{{ ansible_managed | comment }}

[Unit]
Description=Loki service
After=network.target

[Service]
Type=simple
User={{ loki_user }}
ExecStart={{ loki_bin_path }}/loki \
  -config.file {{ loki_config_path }}

WorkingDirectory={{ loki_var_path }}
TimeoutSec = 120
Restart = on-failure
RestartSec = 2

[Install]
WantedBy=multi-user.target