{{ ansible_managed | comment }}
---
{% if loki_auth_enabled is defined %}
auth_enabled: {{ loki_auth_enabled | bool | lower }}
{% endif %}

{% if loki_server is defined %}
server:
  {{ loki_server | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif -%}

{% if loki_ingester is defined %}
ingester:
  {{ loki_ingester | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif -%}

{% if loki_schema_config is defined %}
schema_config:
  {{ loki_schema_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif -%}

{% if loki_storage_config is defined %}
storage_config:
  {{ loki_storage_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif -%}

{% if loki_limits_config is defined %}
limits_config:
  {{ loki_limits_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif -%}
