{{ ansible_managed | comment }}

[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User={{ promtail_user }}
ExecStart={{ promtail_bin_path }}/promtail \
  -config.file {{ promtail_config_path }} \
  -client.external-labels=host=%l
WorkingDirectory={{ promtail_var_path }}
TimeoutSec = 60
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
